{
    "env": {
        "es2022": true,
        "node": true
    },
    "extends": ["airbnb/base", "prettier", "plugin:sonarjs/recommended"],
    "plugins": ["sonarjs"],
    "rules": {
        "no-unused-vars": "warn",
        "no-console": "off",
        "indent": ["error", 4],
        "eol-last": "warn",
        "semi": "error",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "sonarjs/cognitive-complexity": ["error", 50]
    }
}
