{
    "env": {
        "es2022": true,
        "node": true
    },
    "extends": ["airbnb/base", "prettier", "plugin:sonarjs/recommended"],
    "plugins": ["sonarjs"],
    "rules": {
        "no-unused-vars": "warn",
        "no-console": "off",
        "indent": ["error", 4],
        "eol-last": "off"
    }
}
